@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
#footer {

    background-color: #0C2233;
    font-size: 1.5em;
}

.footer-body {
    display:-webkit-inline-box;
    margin: 7px 12%; /*Temporary "centering"*/
}

.footer-section {
    width: 150%;
}
.icon {
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
    color: white;

}

body{
    background-color:#3398ff;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    /*Adding inner wrapper */
    padding: 3vh; 
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
*/}
.col:first-child { margin-left: 0; }

/* COLUMN METRO STYLING */
.color  i{
    display: block;
}

.color a{
    color: white;
}

.color {
    height: 25vw;
    margin-bottom: 2vw;
}


/* COLORS */
.color-1{
    background-color: #FF5AB0;
}

.color-2{
    background-color: #4DF4F2;
}

.color-3{
    background-color: #FFE165;
}

.color-4{
    background-color: #FF4B68;
}

.color-5{
    background-color: #645FCE;
}

.color-6{
    background-color: #2DEA8F;
}

.color-7{
    background-color: #FFF;
}

.color-8{
    background-color: #FFF;
}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
}

@media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}

/* OVERRIDE STANDARD CSS RULES */
a{
    text-decoration: none !important;
}

/* FLEXBOX FOR VERETICAL CENTERING */
.flexbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: center;

}

.center{
    margin-right: 30vw;
    margin-left: 30vw;
}

